@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
.signInForm {
    font-size: 62,5%;
    font-family: 'Source serif Pro';
    margin: 0 auto;
    padding: 0;
    max-width: 30%;
}

.info {
    margin:1rem;
}

.btn {
    width: 90%;
    margin-bottom: 1rem;
    color:white;
    background-color:#ff9800;
    border: #ff9800;
   
}

.btn:hover {
    color:white;
    background-color:#ff9900;
}

.textline:after,
.textline:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

.banklogin {
   width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color:black;
    background-color:white;
    border: #ff9800 2px solid;
}