@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap");
body {
  font-size: 62, 5%;
  font-family: "Source serif Pro";
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1240px;
}
.header {
  border-bottom: 1px solid var(--orahge);
}
.logo img {
  width: 25%;
  margin: 1rem;
}
.menu {
  display: flex;
  align-items: center;
}
.btn {
  color: white;
  background-color: var(--orahge);
  border: var(--orahge);
  margin-right: 1rem;
  padding: 0.5em 2rem;
  font-size: 1.2rem;
}
.btn :hover {
  color: var(--orahge);
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .logo img {
    width: 35%;
  }
  .sign_in_main{
    width: 50%;
  }
  .btn {
    padding: 0.5em 1.4rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .logo img {
    width: 25%;
  }
  .sign_in_main{
    width: 50%;
  }
  .btn {
    padding: 0.5em 1rem;
    font-size: 1rem;
    margin: 0;
  }
}
