<section class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom"
  >
    <a
      [routerLink]="['']"
      class="logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      <img [src]="imgUrl" alt="" />
    </a>

    <article class="col-md-3 text-end">
      <button type="button" class="btn  me-2">Login</button>
      <button [routerLink]="['sign-in']" class="btn">Sign-up</button>
    </article>
  </header>
</section>
