@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
body{
    font-size: 62,5%;
    font-family: 'Source serif Pro';
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1240px;
}
.header{
    border-bottom: 1px solid #ff9800;
}
.logo img {
  width: 35%;
}
.menu{
    display: flex;
    align-items: center;
}
.btn {
  color:white;
  background-color:#ff9800;
  border: #ff9800;
}
.btn :hover {
  color: #ff9800;
  background-color:white;

}
@media only screen and (max-width: 425px) {
    .logo{
        margin: 0;
        width: 50%;
      }
      .logo img {
        width: 80%;
      }
      .menu{
          width: 50%;
          display: flex;
          align-items: center;
      }
  }