     <!--  <button type="button" class="btn  me-2">Login</button> -->


     <section class="container">
      <header
        class="d-flex align-items-center justify-content-between justify-content-md-between border-bottom mb-4"
      >
        <a
          [routerLink]="['']"
          class="logo col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        >
          <img [src]="imgUrl" alt="" />
        </a>
    
        <article class="sign_in_main">
          <button [routerLink]="['sign-in']" class="btn">Sign in</button>
        </article>
      </header>
    </section>