<!-- <section class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <img [src]="imgUrl" alt="" width="60" height="60" />
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Sign in</a>
      </li>
    </ul>
  </header>
</section> -->


<section class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class=" logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img [src]="imgUrl" alt=""/>
    </a>

    <article class="col-md-3 text-end">
      <button type="button" class="btn  me-2">Login</button>
      <button type="button" class="btn">Sign-up</button>
    </article>
  </header>
</section>
