<section class="container">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Task form</a>
      <ng-template ngbNavContent>
        <!-- Some personal info and form to fill in to ask for help -->
      </ng-template>
    </ng-container>

    <!-- There are tasks in progress -->

    <ng-container ngbNavItem>
      <a ngbNavLink>My tasks</a>
      <ng-template ngbNavContent>
        <section class="client_tasks">
          <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel title="Help with PC" id="helpPC">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="accordion-button helpPC">
                  Help with PC
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <article class="task-body">
                  <strong>Help with PC<br />Ke, 07.02.2023</strong>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <a href="">Edit task</a>
                  <p class="progressbar">
                    Task progress:
                    <ngb-progressbar type="success" [value]="25"
                      >25%</ngb-progressbar
                    >
                  </p>
                </article>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Shopping">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="accordion-button shopping">
                  Shopping
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <article class="task-body">
                  <strong>Shopping<br />La, 03.03.2023</strong>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <a href="">Edit task</a>
                  <p class="progressbar">
                    Task progress:
                    <ngb-progressbar type="success" [value]="0"
                      >0%</ngb-progressbar
                    >
                  </p>
                </article>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Shopping">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="accordion-button walkpet">
                  Walk the dog
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <article class="task_body">
                  <strong>Walk the dog<br />Ma, 01.02.2023</strong>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <a href="">Edit task</a>
                  <p class="progressbar">
                    Task progress:
                    <ngb-progressbar type="success" [value]="50"
                      >50%</ngb-progressbar
                    >
                  </p>
                </article>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </section>
      </ng-template>
    </ng-container>

    <!-- There are done tasks -->

    <ng-container ngbNavItem>
      <a ngbNavLink>Done</a>
      <ng-template ngbNavContent>
        <section class="donetasks">
          <ngb-accordion [closeOthers]="true" activeIds="static-1" class="disabled">
            <ngb-panel id="static-1" title="Shopping" [disabled]="true">
              <ng-template ngbPanelContent >
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteu
                r butcher vice
                lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them
                accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
      </section>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>
