.container {
    max-width: 1240px;
    padding: 0;
    margin: 0 auto;
}

.client_tasks, .donetasks {
    margin: 2rem;
    padding: 0;
}

.helpPC {
    color: black;
    background-color: #CBE5F2;
}

.shopping {
    color: black;
    background-color: #D1E6DD;
}

.walkpet {
    color: #000;
    background-color: #FFF2CD;
}

.progressbar{
    color: #6a6a6a;
    padding: 1rem;
}

@media only screen and (max-width: 425px) {
    .client_tasks{
        margin: 1rem;
    }
}