<section class="container">
  <section class="my_tasks">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <button ngbPanelToggle class="accordion-button urgently">
            <span><b> Urgently</b> &nbsp;04/10/2023</span>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <article class="accordion-body">
            <strong>Walking with pets.</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="d-flex flex-column col-12">
              <p class="fs-6 fw-semibold">Asking for details:</p>
              <textarea name="" id="" rows="3"></textarea>
              <button class="btn btn-send btn-lg mt-4 align-self-end">
                send a message
              </button>
            </div>
          </article>
          <article class="d-flex flex-column">
            <a class="mb-4 mt-4 text-secondary align-self-center" (click)="manageTask = !manageTask">Manage task</a>
            <div class="d-flex flex-row justify-content-center"  *ngIf="manageTask">
              <button class="btn btn-secondary opacity-75 me-2" (click)="cancelTask()">Cancel task</button>
              <button class="btn btn-success opacity-75" (click)="completedTask()">Completed</button>
            </div>

          </article>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</section>
