.container {
  margin: 0 auto;
  padding: 0;
}
.nav-link {
  color: var(--main-color);
  font-size: 1.2rem;
}
.badge {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 0.6em;
  border-radius: 5rem;
  font-weight: 700;
}
.dropdown-menu {
  margin-top: 3rem;
  margin-left: 6.2rem;
}
@media only screen and (max-width: 425px) {
  .task_list,
  .done,
  .my_tasks {
    margin: 0.5em;
  }
  .nav {
    margin: 0.5em;
  }
  .nav-link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .task_list,
  .done,
  .my_tasks {
    margin: 0.5em;
  }
  .nav {
    margin: 0.5em;
  }
  .nav-link {
    font-size: 0.7em;
    padding: 0.5em;
  }
}
