<section class="container mt-4">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="helper-dashboard" role="tab" class="nav-link">
        Task list
      </a>
    </li>
    <li [ngbNavItem]="2" class="nav-item">
      <a
        ngbNavLink
        routerLink="helper-dashboard/my_tasks"
        role="tab"
        class="nav-link"
      >
        My tasks
      </a>
    </li>
    <li [ngbNavItem]="3" class="nav-item">
      <a
        ngbNavLink
        routerLink="/helper-dashboard/done"
        role="tab"
        class="nav-link"
      >
        Done
      </a>
    </li>
    <li [ngbNavItem]="4" class="nav-item">
      <a
        ngbNavLink
        routerLink="/helper-dashboard/my-account"
        role="tab"
        class="nav-link"
      >
        My account
      </a>
    </li>
  </ul>
</section>

<!-- <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a
        ngbNavLink
        href="helper-dashboard"
        id="ngb-nav-1"
        role="tab"
        aria-selected="false"
        aria-disabled="false"
        class="nav-link"
        >Tasks list</a
      >
    </ng-container>
    <ng-container ngbNavItem>
      <a
        ngbNavLink
        href="/helper-dashboard/my_tasks"
        id="ngb-nav-1"
        role="tab"
        aria-selected="false"
        aria-disabled="false"
        class="nav-link"
        >My tasks</a
      >
    </ng-container>
    <ng-container ngbNavItem>
      <a
        ngbNavLink
        href="/helper-dashboard/done"
        id="ngb-nav-2"
        role="tab"
        aria-selected="false"
        aria-disabled="false"
        class="nav-link"
        aria-controls="ngb-nav-2-panel"
        >Done</a
      >
    </ng-container>
    <ng-container ngbNavItem>
      <a
        href="/helper-dashboard/my_account"
        id="ngb-nav-3"
        role="tab"
        aria-selected="false"
        aria-disabled="false"
        class="nav-link"
        aria-controls="ngb-nav-2-panel"
        >My account</a
      >
    </ng-container>
  </nav> -->
