 
  <!-- Modal for cancel -->
 <section class="modal-view d-flex flex-column">
    <h4 class="title align-self-center">{{ titleCancel }}</h4>
    <div class="mt-4 align-self-center">
      <p>If you want to cancel this task press 'Yes' otherwise press 'No'.</p>
    </div>

    <div class="gap-4 mt-4 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-primary px-4"
        (click)="modalTasksService.cancel()"
      >
        Yes
      </button>
      <button
        type="button"
        class="btn btn-secondary px-4"
        (click)="modalTasksService.close()"
      >
        No
      </button>
    </div>
  </section> 
  <!-- Modal for complete -->
<section class="modal-view d-flex flex-column">
  <h4 class="title align-self-center">{{ titleDone }}</h4>
  <div class="mt-4 align-self-center">
    <p>If you want to cancel this task press 'Yes' otherwise press 'No'.</p>
  </div>

  <div class="gap-4 mt-4 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-primary px-4"
      (click)="modalTasksService.done()"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-secondary px-4"
      (click)="modalTasksService.close()"
    >
      No
    </button>
  </div>
</section>
