<section class="container">
  <section class="task-form">
    <article class="personalinfo">
      <p><strong>Your Information</strong></p>
      <p>
        Name <br />
        Surname
      </p>
      <a href="">Edit Information</a>
    </article>
    <article class="address">
      <p><strong>Your Address</strong></p>
      <p>
        Zip code <br />
        City, Street Address
      </p>
      <a href="">Edit Information</a>
    </article>
    <article class="my-3 helptype">
      <h6>Type of help I need:</h6>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" checked="" />
        <label class="form-check-label">Do some shopping</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Walk with my pet</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Give me a drive</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with PC or other devices</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with moving</label>
      </div>
    </article>
    <section class="comment">
      <h6>Comments:</h6>
      <textarea
        class="form-control"
        placeholder="Leave your comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <div class="form-checks mt-2">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Emergency</label>
      </div>
    </section>
    <button type="button" class="save_btn">Send my request</button>
  </section>
</section>
