.container {
  max-width: 1240px;
  padding: 0;
  margin: 0 auto;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--background);
}

.task-form,
.personalinfo,
.address,
.comment,
.helptype,
.date {
  margin: 1rem 0;
  padding: 0;
}

.form-check-input:checked {
  background-color: var(--main-client);
  border-color: var(--main-client);
}

.today_btn {
  width: 20%;
  padding: 1rem;
  color: white;
  border: 1px solid var(--main-client);
  background-color: var(--main-client);
  align-self: center;
}
.save_btn {
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border: 1px solid var(--main-client);
  background-color: var(--main-client);
  align-self: center;
}
.modal-view {
  width: 40%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(160, 157, 157);
}
.modalBtn{
  background-color: var(--main-color);
  border: none;
  color: white;
}

@media only screen and (max-width: 425px) {
  .today_btn {
    width: 70%;
  }

  .save_btn {
    width: 90%;
  }
  .modal-view {
    width: 90%;
    top: 12%;
    left: 1%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  .today_btn {
    width: 30%;
  }

  @media only screen and (max-width: 320px) {
    .modal-view {
      left: 0;
    }
  }

  .save_btn {
    width: 45%;
  }
}
