<section class="container">
  <section class="task-form">

    <!-- Personal info and address -->

    <article class="personalinfo">
      <p><strong>Your Information</strong></p>
      <p>
        {{currentClient.firstName}} <br />
        {{currentClient.lastName}}
      </p>
      <a href="">Edit Information</a>
    </article>
    <article class="address">
      <p><strong>Your Address</strong></p>
      <p>
        {{currentClient.zip}} <br />
        {{currentClient.city}}, {{currentClient.address}}
      </p>
      <a href="">Edit Information</a>
    </article>

    <!-- Type of help choice -->

    <article class="my-3 helptype">
      <h6>Type of help I need:</h6>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" checked="" />
        <label class="form-check-label">Do some shopping</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Walk with my pet</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Give me a drive</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with PC or other devices</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with moving</label>
      </div>
    </article>

    <!-- Date choice -->

    <article class="date col">
      <h6>When? Choose the date:</h6>

        <form class="row row-cols-md-auto">
          <div class="col">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="dd/mm/yyyy"
                name="d2"
                #c2="ngModel"
                [(ngModel)]="model2"
                ngbDatepicker
                #d2="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
          </div>
        </form>
        <button class="btn today_btn mt-3" (click)="model2 = today">Today</button>
    </article>

    <!-- Comments anfd emergency tag -->

    <section class="comment">
      <h6>Comments:</h6>
      <textarea
        class="form-control"
        placeholder="Leave your comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <div class="mt-2 form-check">
        <input type="checkbox" class="form-check-input" checked="" />
        <label class="form-check-label">Emergency</label>
      </div>
    </section>
    <button type="button" class="btn save_btn" (click)="addToClientTask()">Send my request</button>
  </section>
</section>
