<section class="container">
  <header
    class="d-flex align-items-center justify-content-between justify-content-md-between border-bottom"
  >
    <a
      *ngIf="afAuth.user | async"
      [routerLink]="['helper-dashboard']"
      class="logo col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      <img [src]="imgUrl" alt="" />
    </a>

    <a
      *ngIf="!(afAuth.user | async)"
      [routerLink]="['']"
      class="logo text-decoration-none"
    >
      <img [src]="imgUrl" alt="" />
    </a>

    <article class="sign_in_main">
      <button
        *ngIf="!(afAuth.user | async)"
        [routerLink]="['']"
        class="btn"
      >
        Login
      </button>
      <button
        *ngIf="afAuth.user | async"
        [routerLink]="['']"
        (click)="logout()"
        class="btn"
      >
        Logout
      </button>
    </article>
  </header>
</section>

<app-tab-panel *ngIf="showTab()"></app-tab-panel>
<app-tab-panel-client *ngIf="showTapClient()"></app-tab-panel-client>
