.btn {
  background-color: #46a44b;
  color: white;
  border: none;
  width: 40%;
}
.btn-outline {
  background-color: #fe9d10;
  color: white;
  border: none;
}

@media only screen and (max-width: 425px) {
  .btn {
    width: 100%;
  }
}
