<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">
      The best place to make good things for your neighbour
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Here you can help to your neighbor with some simple things and make
        their lifes better. You can help with some shopping, take a walk with
        their pets or something else. Let's do our life better to help each
        other.
      </p>
      <div class="d-grid gap-5 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-lg px-4 py-3">
          I want to help
        </button>
        <button type="button" class="btn btn-outline btn-lg px-4 py-3">
         I need help
        </button>
      </div>
    </div>
  </div>
</main>
