<section class="container">
  <article
    class="alert alert-secondary alert-dismissible"
    role="alert"
    *ngIf="alert"
  >
      <strong>Holy guacamole!</strong>&nbsp; You can
      <a routerLink="/helper-dashboard/my_tasks" class="alert-link text-decoration-none link-hover">&nbsp;check a new task&nbsp; </a>
      taken!
    <button type="button" class="btn-close" (click)="closeAlert()"></button>
  </article>
  <section class="task_list" ngbnavlink="task_list">
    <ngb-accordion
      #a="ngbAccordion"
      activeIds="custom-panel-1"
      *ngFor="let task of tasks"
    >
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <button
            ngbPanelToggle
            class="accordion-button"
            [ngClass]="{
              shopping: task.class == 'shopping',
              urgently: task.class == 'urgently',
              pets: task.class == 'pets',
              other: task.class == 'others'
            }"
          >
            <span
              ><b> {{ task.category }}</b> &nbsp;{{ task.date }}</span
            >
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <article class="accordion-body">
            <strong>{{ task.title }}</strong>
            <p>
              {{ task.description }}
            </p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-take btn-lg" (click)="addToMyTasks()">
                I take
              </button>
            </div>
          </article>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</section>
