.form_header_text{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #46a44b;
}
.form {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 2rem;
}
/* .form-control,
.form-select,
.text-area{
  border-color: #46a44b;
} */
.form-check-input:checked {
  background-color: #46a44b;
  border-color: #46a44b;
}

.btn {
  background-color: #46a44b;
  border: #46a44b;
  color: white;
  margin-top: 2rem;
}
.btn:hover {
  background-color: white;
  border: 1px solid #46a44b;
  color: #46a44b;
}
.text-area {
  width: 100%;
  height: 100px;
}
