<form
  class="container"
  [formGroup]="contactUsForm"
  (ngSubmit)="sendContactUsForm()"
>
  <h1 class="h3 mb-3 fw-normal mt-4">How can we help you?</h1>
  <div class="col-md-6 mb-3">
    <label for="problemType" class="form-label mb-3"
      >Enter the type of problem.</label
    >
    <select class="form-select" required="" formControlName="problemType">
      <option value="">Choose...</option>
      <option>Can't make an order</option>
      <option>Can't make an order by phone</option>
      <option>Not satisfied with help</option>
      <option>Рaving problems with a volunteer</option>
      <option>Other</option>
    </select>
    <p
      *ngIf="
        this.contactUsForm.get('problemType')?.invalid &&
        this.contactUsForm.get('problemType')?.touched
      "
    >
      <small class="text-danger"
        >Choose the problem type, this is required</small
      >
    </p>
  </div>
  <div class="mb-3">
    <label for="details" class="mb-2">Enter your question, please.</label>
    <textarea rows="6" type="text" class="text-area" formControlName="details">
    </textarea>
    <p
      *ngIf="
        this.contactUsForm.get('details')?.invalid &&
        this.contactUsForm.get('details')?.touched
      "
    >
      <small class="text-danger"
        >Fill the question please, this is required</small
      >
    </p>
  </div>
  <div class="mb-3">
    <label for="email" class="mb-2">Email address</label>
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      formControlName="email"
    />
    <p
      *ngIf="
        this.contactUsForm.get('email')?.invalid &&
        this.contactUsForm.get('email')?.touched
      "
    >
      <small class="text-danger">Email is required</small>
    </p>
  </div>
  <!-- <p>or</p>
  <div class="mb-3">
    <label for="phone" class="mb-2">Enter your number</label>
    <input
      type="number"
      class="form-control"
      placeholder="+358-XX-XXX-XX-XX"
      formControlName="phone"
    />
    <p
    *ngIf="
      this.contactUsForm.get('phone')?.invalid &&
      this.contactUsForm.get('phone')?.touched
    "
  >
    <small class="text-danger">First name is required</small>
  </p>
  </div> -->
  <button class="w-100 btn btn-lg btn-contact mb-3" type="submit">
    Send a message
  </button>
</form>

<section
  class="modal-view d-flex flex-column"
  *ngIf="modalService.isVisible$ | async"
>
  <h5 class="align-self-center fs-4">{{ title }}</h5>
  <p class="title align-self-center fs-6">
    We will try our best to solve your problem ASAP
  </p>

  <div class="gap-4 mt-4 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline modalBtn px-4"
      (click)="modalService.close()"
    >
      Ok
    </button>
  </div>
</section>
