<section class="container">
    <section class="client_tasks">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
          <ngb-panel title="Help with PC" id="helpPC">
            <ng-template ngbPanelHeader let-opened="opened">
              <button ngbPanelToggle class="accordion-button other">
                Help with PC
              </button>
            </ng-template>
            <ng-template ngbPanelContent>
              <article class="task-body">
                <strong>Help with PC<br />Ke, 07.02.2023</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="">Edit task</a> <br>
                <button class="btn" routerLink="/volunteer-card">Show your volunteer</button>
              </article>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </section>
</section>

