<section class="form">
  <h3 class="form_header_text">Please fill in the form below to ask for help</h3>
    <form class="needs-validation" novalidate="" [formGroup]="clientSignUpForm" (ngSubmit)="signUp()">
      <div class="row g-3">

        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" #clientFirstName placeholder="" value="" required="">
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" #clientLasttName placeholder="" value="" required="">
        </div>

        <div class="col-sm-12">
          <label for="phone" class="form-label">Phone number</label>
          <input type="tel" class="form-control" #clientPhone placeholder="+358-XX-XXX-XX-XX">
        </div>

          <div class="col-sm-6">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" #clientEmail placeholder="name@example.com">
            </div>

            <div class="col-sm-6">
              <label for="password" class="form-label">Password</label>
              <input
              type="password"
              class="form-control"
              #clientPassword
              placeholder="password"
            />
            </div>

        </div>
        <hr class="my-4">
        <div class="col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" #clientAddress placeholder="" required="">
          <div class="invalid-feedback">
            Please enter your address.
          </div>
        </div>

        <div class="col-md-5">
          <label for="city" class="form-label">City</label>
          <select class="form-select" #clientCity required="">
            <option value="">Choose...</option>
            <option>Helsinki</option>
            <option>Espoo</option>
            <option>Vantaa</option>
            <option>Kuopio</option>
            <option>Oulu</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="zip" class="form-label">Zip</label>
          <input type="text" class="form-control" #clientZip placeholder="" required="">
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>

      <hr class="my-4">

      <button  class="w-100 btn btn-lg" type="submit"> Ask for help</button>
    </form>
</section>



 