.form_header_text{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #ff9800;
}
.form {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 2rem;
}

.btn {
  background-color: #ff9800;
  border: #ff9800;
  color: white;
  margin-top: 2rem;
}
.btn:hover {
  background-color: white;
  border: 1px solid #ff9800;
  color: #ff9800;
}
.text-area {
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 425px) 
{
.form
{
    width: 90%;
}
}