<section class="container mt-4">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="client-task-form" role="tab" class="nav-link">
          Task form
        </a>
      </li>
      <li [ngbNavItem]="2" class="nav-item">
        <a
          ngbNavLink
          routerLink="client-tasks/my-tasks"
          role="tab"
          class="nav-link"
        >
          My tasks
        </a>
      </li>
      <li [ngbNavItem]="3" class="nav-item">
        <a
          ngbNavLink
          routerLink="client-tasks/done"
          role="tab"
          class="nav-link"
        >
          Done
        </a>
      </li>
    </ul>
  </section>
