<section class="form">
  <h3 class="form_header_text">
    Please fillout form below for join us as a volunteer
  </h3>
  <form class="needs-validation" [formGroup]="signupForm" (ngSubmit)="signUp()">
    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your first name"
          formControlName="firstName"
        />
        <p
          *ngIf="
            this.signupForm.get('firstName')?.invalid &&
            this.signupForm.get('firstName')?.touched
          "
        >
          <small class="text-danger">First name is required</small>
        </p>
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your last name"
          formControlName="lastName"
        />
        <p
          *ngIf="
            this.signupForm.get('lastName')?.invalid &&
            this.signupForm.get('lastName')?.touched
          "
        >
          <small class="text-danger">Last name is required</small>
        </p>
      </div>
      <div class="col-sm-6">
        <label for="floatingInput" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email name@example.com"
          formControlName="email"
        />
        <p
          *ngIf="
            this.signupForm.get('email')?.invalid &&
            this.signupForm.get('email')?.touched
          "
        >
          <small class="text-danger">Email is required</small>
        </p>
      </div>
      <div class="col-sm-6">
        <label for="floatingPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter your password"
        />
        <p
          *ngIf="
            this.signupForm.get('password')?.invalid &&
            this.signupForm.get('password')?.touched
          "
        >
          <small class="text-danger">Password is required</small>
        </p>
      </div>
    </div>
    <hr class="my-4" />
    <div class="col-12">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter street name and building"
        formControlName="address"
      />
      <p
        *ngIf="
          this.signupForm.get('address')?.invalid &&
          this.signupForm.get('address')?.touched
        "
      >
        <small class="text-danger">Address is required</small>
      </p>
    </div>
    <div class="col-md-5">
      <label for="country" class="form-label">City</label>
      <select class="form-select" formControlName="city">

        <option value="">Choose...</option>
        <option>Helsinki</option>
        <option>Espoo</option>
        <option>Vantaa</option>
        <option>Kuopio</option>
        <option>Oulu</option>
      </select>
      <p
        *ngIf="
          this.signupForm.get('city')?.invalid &&
          this.signupForm.get('city')?.touched
        "
      >
        <small class="text-danger">City is required</small>
      </p>
    </div>
    <div class="col-md-3">
      <label for="zip" class="form-label">Zip</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your zip-code"
        formControlName="zip"
      />
      <p
        *ngIf="
          this.signupForm.get('zip')?.invalid &&
          this.signupForm.get('zip')?.touched
        "
      >
        <small class="text-danger">Zip-code is required</small>
      </p>
    </div>

    <hr class="my-4" />

    <h4 class="mb-3">How can I help</h4>

    <div class="my-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" checked="" />
        <label class="form-check-label">Make some shopping</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Walking with pets</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Drive to somewhere</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with PC and other devices</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with moving</label>
      </div>
    </div>

    <div class="col-md-12">
      <label for="text-area" class="form-label">Tell about you(optional)</label>
      <input
        type="text-area"
        class="text-area"
        placeholder="You can tell you neighbor for example: about your hobby or something else."
      />
    </div>
    <button type="submit" class="w-100 btn btn-lg">Join Us</button>
  </form>
</section>
