<section class="form">
  <h3 class="form_header_text">
    Please fillout form below for join us as a volunteer
  </h3>
  <form class="needs-validation" novalidate="" [formGroup]="signupForm" (ngSubmit)="signUp()">
    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder=""
          value=""
          required=""
          formControlName="firstName"
        />
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required=""
          formControlName="lastName"
        />
      </div>
      <div class="col-sm-6">
        <label for="floatingInput" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <p
        *ngIf="
          this.signupForm.get('email')?.invalid &&
          this.signupForm.get('email')?.touched
        "
      >
        <small class="text-danger">Email is required</small>
      </p>
      </div>
      <div class="col-sm-6">
        <label for="floatingPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <p
        *ngIf="
          this.signupForm.get('password')?.invalid &&
          this.signupForm.get('password')?.touched
        "
      >
        <small class="text-danger">Password is required</small>
      </p>
      </div>
    </div>
    <hr class="my-4" />
    <div class="col-12">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        placeholder=""
        required=""
      />
      <div class="invalid-feedback">Please enter your shipping address.</div>
    </div>

    <div *ngIf="firebaseErrorMessage != ''" class="error">
      <span>{{ firebaseErrorMessage }}</span>
    </div>

    <div class="col-md-5">
      <label for="country" class="form-label">Country</label>
      <select class="form-select" id="country" required="">
        <option value="">Choose...</option>
        <option>Helsinki</option>
        <option>Espoo</option>
        <option>Vantaa</option>
        <option>Kuopio</option>
        <option>Oulu</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="zip" class="form-label">Zip</label>
      <input
        type="text"
        class="form-control"
        id="zip"
        placeholder=""
        required=""
      />
      <div class="invalid-feedback">Zip code required.</div>
    </div>

    <hr class="my-4" />

    <h4 class="mb-3">How can I help</h4>

    <div class="my-3">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          checked=""
          required=""
        />
        <label class="form-check-label">Make some shoping</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Walking with pets</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Drive to somewhere</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with PC and other devices</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" required="" />
        <label class="form-check-label">Help with mouving</label>
      </div>
    </div>

    <div class="col-md-12">
      <label for="text-area" class="form-label">Tell about you(optional)</label>
      <input type="text-area" class="text-area" />
    </div>
    <button type="submit" class="w-100 btn btn-lg">Join Us</button>
  </form>
</section>
