
.client_tasks, .donetasks {
  margin: 2rem;
  padding: 0;
}

.urgently {
  color: var(--brown);
  background-color: var(--emergency);
}
.shopping {
  color: var(--brown);
  background-color: var(--shopping);
}
.pets {
  color: var(--brown);
  background-color: var(--pets);
}
.other {
  color: var(--brown);
  background-color: var(--others);
}
.disabled {
  color: var(--brown);
  background-color: #dddddd;
}

.accordion-button{
  padding: 1.8rem;
}

@media only screen and (max-width: 425px) {
  .client_tasks{
      margin: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .donetasks,
  .client_tasks {
    margin: 0.5em;
  }

}
@media only screen and (max-width: 320px) {
  .donetasks,
  .client_tasks {
    margin: 0.5em;
  }
 
}